

<div class="card">
  <div class="card-body">
    <h4>
      <%= link_to album.name, band_album_path(@band, album) %> [ <%= album.id %> ]
      <%= link_to "Delete Album", band_album_path(@band, album), method: :delete, method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger float-right font-weight-bold"%>
    </h4>
    <%= render "albums/band_albums_form", album: album %>
  </div>
</div>
