<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-title mx-4">
    <% @bands.each do |band| %>
      <div>
        <%= band.name %>
        <em class="ml-4">Music Genre:  <%= band.description %></em>
        [ <%= band.user_id %> ]
      </div>
        <br>
    <% end %>
  </div>
</div>
<br>


